.calendar {
    
    height: 5vh;
    position: relative;
    z-index: 5;
  }
  
 
  .calendar__search {
      display: flex;
      flex-direction: column;
  }
  
  .calendar__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
  }
  
  .calendar__info > button {
      background-color: #ff7779;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .calendar__info > button:hover {
      background-color: white;
      color: #ff7779;
    }
    
  
  

  